body {
  background: aliceblue;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 800px;
  height: 500px;
  position: relative;


  background: rgb(49, 61, 210);

  margin-left: calc(50vw - (800px / 2));
  margin-top: calc(50vh - (500px / 2));
}

.player {
  background: rgb(92, 205, 167);

  position: absolute;
  color: white;
  text-align: center;
}
span {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  float: left;
}
.food {
  position: absolute;
  background: rgb(210, 68, 43);
}
